
<!DOCTYPE html>
<html>
	<head>
		<title>Julio Gálvez, Research Economist</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/cv">CV</a></li>
        		<li><a href="/research">Research</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Julio Gálvez</h1>
			<h2>Research Economist, Bank of Spain</h2>
				<p> My research interests are in asset pricing and household finance. <a href="/research">Read more about my research.</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
			<li><a href="mailto:julio.galvez@bde.es">email</a></li>
			</ul>
		</footer>
	</body>
</html>
